<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" th:href="@{wzium.png}">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_mischka.min.css">
    <title>WziumBooks | Autorzy</title>
    <style>
        .Bd {
            border: solid 1px black;
        }


        .P\(10px\) {
            padding: 10px;
            margin: 20px;
        }

        a p {
            color: #181818;
        }

        dt a {
            text-decoration: none;
        }

        .fix-form {
            display: inline-flex;
        }

    </style>
</head>
<body>

    <header>
        <h1>WziumBooks - Recenzje książek!</h1>

        <nav>
            <ul>
                <li>
                    <a href="/">Strona główna</a>
                </li>
                <li>
                    <a href="/books">Wszystkie książki</a>
                </li>
                <li>
                    <a href="/authors">Autorzy</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/books/add">Dodaj książkę</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/login">Zaloguj</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/registration">Zarejestruj</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/dashboard">Panel</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#" onclick="document.forms['logoutForm'].submit()">Wyloguj się</a>
                </li>
            </ul>

            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>

            <form class="fix-form" action="/authors" method="get">
                <input type="text" name="name" id="search" placeholder="Szukaj autora po imieniu...">
                <button type="submit">Szukaj</button>
            </form>
        </nav>

    </header>


    <main>

        <h1 th:if="${message != null}" th:text="${message}"></h1>
        <dl th:each="author : ${authors}" class="Bd P(10px)">
            <dt>
                <a th:href="@{/authors/{id}(id=${author.id})}">
                    <p th:text="${author.name}"></p>
                </a>
            </dt>
        </dl>

    </main>
</body>
</html>