<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/wzium.png}" type="image/png">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_mischka.min.css">
    <title>WziumBooks | Dodaj książke</title>
    <style>
        .Bd {
            border: solid 1px black;
        }

        .P\(0\) {
            padding: 0;
        }

        .C\(red\) {
            color: red;
        }

        .M\(10px\) {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }

        .P\(10px\) {
            padding: 10px;
            margin: 20px;
        }

        .fix-form {
            display: inline-flex;
        }
    </style>
</head>
<body>
    <header>
        <h1>WziumBooks - Recenzje książek!</h1>

        <nav>
            <ul>
                <li>
                    <a href="/">Strona główna</a>
                </li>
                <li>
                    <a href="/books">Wszystkie książki</a>
                </li>
                <li>
                    <a href="/authors">Autorzy</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/books/add">Dodaj książkę</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/login">Zaloguj</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/registration">Zarejestruj</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/dashboard">Panel</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#" onclick="document.forms['logoutForm'].submit()">Wyloguj się</a>
                </li>
            </ul>

            <form id="logoutForm" method="post" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>

            <form class="fix-form" action="/books" method="get">
                <input type="text" name="title" id="search" placeholder="Szukaj książki po tytule...">
                <button type="submit">Szukaj</button>
            </form>
        </nav>
    </header>
    <main>
        <h1 th:if="${message != null}" th:text="${message}"></h1>


        <fieldset>
            <legend>Nowa książka</legend>
            <form action="#" th:action="@{/books/add}" method="post" th:object="${book}" enctype="multipart/form-data">
                <p class="C(red)" th:if="${ #fields.hasErrors('all')}" th:errors="*{all}"></p>
                <label>Tytuł
                    <input type="text" th:field="*{title}" th:errorclass="'Bdc(red)'" />
                </label>
                <label>Opis
                    <input type="text" th:field="*{description}" th:errorclass="'Bdc(red)'" />
                </label>
                <label>Zdjęcie okładki (url)
                    <input type="text" th:field="*{image}" th:errorclass="'Bdc(red)'" />
                </label>
                <label >Książka
                    <input name="file" type="file">
                </label>
                <p>
                    <button type="submit" >Stwórz</button>
                    <button type="reset">Wyczyść</button>
                </p>
            </form>
        </fieldset>
    </main>
</body>
</html>