<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" th:href="@{/wzium.png}">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_mischka.min.css">
    <title th:if="${book} != null" th:text="'WziumBooks | ' + ${book.title}"></title>
    <title th:if="${title} != null">WziumBooks | Nie znaleziono</title>
    <style>
        .Bd {
            border: solid 1px black;
        }

        .P\(0\) {
            padding: 0;
            margin: 0;
        }

        .C\(red\) {
            color: red;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }

        .P\(10px\) {
            padding: 10px;
            margin: 20px;
        }

        .P\(9px\) {
            padding: 9px;
        }

        .M\(10px\) {
            margin-top: 10px;
        }


        #leftImage {
            float: left;
            width: 130px;
            height: auto;

        }

        .fix-form {
            display: inline-flex;
            float: left;
        }

        .fix-form-special {
            float: left;
        }


        .stars {
            display: inline-block;
        }

        .comment {
            text-align: left;
        }

        .clear {
            clear: both;
        }

    </style>
</head>
<body>

    <header>
        <h1>WziumBooks - Recenzje książek!</h1>

        <nav>
            <ul>
                <li>
                    <a href="/">Strona główna</a>
                </li>
                <li>
                    <a href="/books">Wszystkie książki</a>
                </li>
                <li>
                    <a href="/authors">Autorzy</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/books/add">Dodaj książkę</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/login">Zaloguj</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/registration">Zarejestruj</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/dashboard">Panel</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#" onclick="document.forms['logoutForm'].submit()">Wyloguj się</a>
                </li>
            </ul>

            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>

            <form class="fix-form" action="/books" method="get">
                <input type="text" name="title" id="search" placeholder="Szukaj książki po tytule...">
                <button type="submit">Szukaj</button>
            </form>
        </nav>
    </header>

    <main>
        <h1 th:if="${message != null}" th:text="${message}"></h1>
        <fieldset th:if="${book} != null" th:object="${book}" th:with="result=${5 - __${stars}__}">
            <h3>Okładka</h3><br>
            <img id="leftImage" th:src="*{image}" alt="okładka">
            <div class="clear">
                <h3>Tytuł</h3>
                <p th:text="*{title}"></p>
                <h3>Opis</h3>
                <p th:text="*{description}"></p>
                <h3>Gwiazdki </h3>
                <div th:each="i : ${#numbers.sequence(1, __${stars}__, 1)}" class="stars">
                    <img width="25px" src="https://img.icons8.com/fluency-systems-filled/48/000000/star.png"/>
                </div>
                <div th:each="i : ${#numbers.sequence(1, __${result}__, 1)}" class="stars">
                    <img width="25px" src="https://img.icons8.com/fluency-systems-regular/48/000000/star--v1.png"/>
                </div>


                <div th:if="${book.author} != null">
                    <h3>Autor</h3>
                    <a th:href="@{/authors/{id}(id=${book.author.id})}" th:text="${book.author.name}"></a>
                </div>

                <div th:if="${book.data} != null">
                    <br>
                    <br>
                    <a th:href="@{{id}/download(id=*{id})}">Kliknij by pobrać</a>
                </div>
            </div>
        </fieldset>

    </main>


    <footer th:if="${book} != null">
        <h1>Napisz komentarz</h1>

        <fieldset>
            <form th:object="${comment}" class="fix-form-special" th:action="@{/comments/add/{id}(id=${book.id})}" method="post">
                <label>Treść
                    <input required type="text" th:field="*{content}" />
                </label>
                <label>Ocena
                    <input required type="number" min="1" max="5" th:field="*{stars}" />
                </label>
                <button type="submit">Dodaj</button>
            </form>
        </fieldset>

        <br>
        <br>

        <div th:if="${comments.size != 0}">
            <h1>Komentarze</h1>
            <br>
            <div th:each="comment : ${comments}" class="Bd comment P(9px) M(10px)" th:with="result=${5 - __${comment.stars}__}">
                <h1 th:text="${comment.author.name}"></h1>
                <p th:text="${comment.content}"></p>
                <div th:each="i : ${#numbers.sequence(1, __${comment.stars}__, 1)}" class="stars">
                    <img width="25px" src="https://img.icons8.com/fluency-systems-filled/48/000000/star.png"/>
                </div>
                <div th:each="i : ${#numbers.sequence(1, __${result}__, 1)}" class="stars">
                    <img width="25px" src="https://img.icons8.com/fluency-systems-regular/48/000000/star--v1.png"/>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div th:if="${comment.author.name == #authentication.name}">
                        <form class="fix-form-special" th:action="@{/comments/remove/{id}(id=${comment.id})}" method="post">
                            <input type="hidden"  th:value="${book.id}" name="bookId" />
                            <button type="submit">Usuń</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </footer>

</body>
</html>