<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" th:href="@{wzium.png}">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_mischka.min.css">
    <title>WziumBooks | Wszystkie książki</title>
    <style>
        .Bd {
            border: solid 1px black;
        }


        .P\(10px\) {
            padding: 10px;
            margin: 20px;
        }

        a p {
            color: #181818;
        }

        dt a {
            text-decoration: none;
        }

        .fix-form {
            display: inline-flex;
        }

    </style>
</head>
<body>

    <header>
        <h1>WziumBooks - Recenzje książek!</h1>

        <nav>
            <ul>
                <li>
                    <a href="/">Strona główna</a>
                </li>
                <li>
                    <a href="/books">Wszystkie książki</a>
                </li>
                <li>
                    <a href="/books/add">Dodaj książkę</a>
                </li>
            </ul>

            <form class="fix-form" action="/books" method="get">
                <input type="text" name="title" id="search" placeholder="Szukaj książki po tytule...">
                <button type="submit">Szukaj</button>
            </form>
        </nav>

    </header>


    <main>


        <h1 th:if="${message != null}" th:text="${message}"></h1>
        <dl th:each="book : ${books}" class="Bd P(10px)">
            <dt>
                <a th:href="@{/books/{id}(id=${book.id})}">
                    <p th:text="${book.title}"></p>
                </a>
            </dt>
        </dl>

    </main>
</body>
</html>